* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.header img {
    width: 100%;
    height: 808px;
}

.header-heading {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 645px;
    top: 216px;
    text-align: right;
    color: #FFFFFF;

}

.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    position: absolute;
    width: 494px;
    height: 78px;
    left: 676px;
    top: 468px;

    text-align: right;

    color: #FFFFFF;

}

.header-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1010px;
    top: 578px;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: #FFFFFF;

    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #005FAC;
}


/* My failure part style */
.failure {
    display: flex;
    /* text-align: left; */
    /* list-style-position: inside; */
    /* text-justify: inter-cluster ; */
    width: 100%;
    height: 723.3px;
    margin: 0, auto;
    margin-top: 123px;
}
.failure img{
    width: 569px;
height: 723.3px;
left: 231px;
top: 931px;
margin-left: 130px;
}

.failure-container {
    width: 100%;
height: 400px;
left: 887px;
top: 1588px;
    /* margin: 150px 0; */
    margin-top: 240px;
    margin-left: 87px;
}

.failure-title {
    width: 50%;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 30px;
}

.failure-description {
    width: 70%;
    margin-bottom: 20px;
    font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */


/* Dark 02 */

color: #444343;
}

.failure .list ul {
    display: flex;
    /* list-style: circle;
    margin-bottom: 20px; */
}
ul li:before {
    content: '\2713';
    display: inline-block;
    color: #16D887;
    padding: 0 6px 0 0;
  }
  
  ul li {
    list-style-type: none;
    font-size: 1em;
    margin-bottom: 18px;
  }


/* My plans styles */
.plan {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-top: 137.7px;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    gap: 86px;
    width: 1141px;
    height: 202.96px;
    margin-left: auto;
    margin-right: auto;
}

/* .plan-item{
    margin-left: 43px;
    margin-right: 43px;
} */

.item-title-1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.item-title-2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* My goals styles */
.goal {
    text-align: center;
}

.goal-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
}

.goal-container {
    background: #F0F8FF;
    border-radius: 10px;
    width: 1141px;
    height: 202.96px;
    margin-left: auto;
    margin-right: auto;
}

.goal-description-1 {
    text-align: center;
    padding-top: 60px;
}

.goal-description-2 {
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;

}

/* Overlays image section styles */
.gradient {
    width: 1140px;
    height: 300px;
    margin: 0 auto;
    position: relative;
    margin-top: 145px;

}

.img-gradient-1 {
    width: 1140px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img-gradient-2 {
    width: 1140px;
    height: 300px;
    left: auto;
    right: auto;
    /* margin-left: 100px;
    margin-right: auto; */
    position: absolute;
    top: 0;
}

.gradient-heading {
    position: absolute;
    width: 459px;
    height: 94px;
    left: 0;
    top: 0;
    margin: 59px 617px 147px 64px;

    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #FFFFFF;

}

.gradient-btn {
    position: absolute;
    width: 160px;
    height: 64px;
    left: 0;
    top: 0;
    margin: 177px 916px 59px 64px;
    background: #FFFFFF;
    border-radius: 5px;
    border-color: #FFFFFF;

    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;

    color: #005FAC;
}



/* Footer Styles */
.footer {
    display: flex;
    width: 100%;
    height: 577px;
    margin-top: 155.04px;
    /* left: 0px;
    top: 2651.96px; */

    background: #151414;
}

.footer-container-1 {
    width: 485px;
    height: 317px;
    margin: 104.96px 0 130.04px 110px;
}

.footer-header {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    margin-bottom: 16px;

    color: #F8F8F8;
}

.footer-description {
    width: 485px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    color: #FFFFFF;

}

.footer-email {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 16px;
    color: #FFFFFF;

}

.footer-phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 32px;
    color: #FFFFFF;

}

.footer-container-2 {
    width: 325px;
    height: 204px;
    left: 0;
    top: 0;
    margin-left: 290px;
    margin-top: 104.96px;

}

.footer-header-2 {
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 31px;
    color: #FFFFFF;

}

.footer input {
    width: 325px;
    height: 64px;
    border: solid;
    border-color: #FFFFFF;
    border-radius: 8px;
    background: #151414;
    margin-bottom: 16px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #F3F3F3;
    padding-left: 21px;
}

.footer-btn {
    width: 170.11px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border-color: #151414;

    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;

}
.footer a{
    text-decoration: none;
    margin-right: 17px;
}

