* {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
}

.header {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.header img {
    width: 100%;
    height: 808px;
}

.heading {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    position: absolute;
    width: 525px;
    height: 228px;
    left: 645px;
    top: 216px;
    text-align: right;
    color: #FFFFFF;

}

.header-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */
    position: absolute;
    width: 494px;
    height: 78px;
    left: 676px;
    top: 468px;

    text-align: right;

    color: #FFFFFF;

}


/* My failure part style */
.failure {
    display: flex;
    /* text-align: left; */
    /* list-style-position: inside; */
    /* text-justify: inter-cluster ; */
    width: 1072px;
    height: 723.3px;
    margin: 0, auto;
}

.failure-container {
    margin: 250px 50px;
}

.failure-title {
    width: 50%;
    font-weight: 700px;
    font-size: 35px;
    margin-bottom: 30px;
}

.failure-description {
    width: 50%;
    margin-bottom: 20px;
}

.failure .list ul {
    display: flex;
    /* list-style: circle;
    margin-bottom: 20px; */
}


/* My plans styles */
.plan {
    text-align: center;
}

.plan-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
}

.plan-container {
    display: flex;
    gap: 86px;
    width: 1141px;
    height: 202.96px;
    margin-left: auto;
    margin-right: auto;
}

/* .plan-item{
    margin-left: 43px;
    margin-right: 43px;
} */

.item-title-1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.item-title-2 {
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* My goals styles */
.goal {
    text-align: center;
}

.goal-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #151414;
    margin-top: 130px;
    margin-bottom: 50px;
}

.goal-container {
    width: 1141px;
    height: 202.96px;
    margin-left: auto;
    margin-right: auto;
}

.goal-description {
    text-align: justify;

}

/* Watch image styles */
.gradient {
    width: 1140px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: relative;

}

.img-gradient-1 {
    width: 1140px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.img-gradient-2 {
    width: 1140px;
    height: 300px;
    left: auto;
    right: auto;
    /* margin-left: 100px;
    margin-right: auto; */
    position: absolute;
    top: 0;
}

/* .img-gradient {
    position: relative;
  }
  
  
  .img-gradient::after {
    content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%);
    border-radius: 8px;
  } */